@using AP.BoomTP.Application.CQRS.GrowSiteCQRS
@using AP.BoomTP.Application.CQRS.ZoneCQRS
@using AP.BoomTP.Domain
@model AP.BoomTP.Application.CQRS.GrowSiteCQRS.GrowSiteDetailDTO

@{
    Layout = "_Layout";
}

<h1>Detail @Model.Name</h1>
<h5>Afbeelding:</h5>
<img src="~/Images/@Model.Map" height="50%" width="50%" asp-append-version="true" />

<br />
<h5>Zones: </h5>
<table class="table table-striped table-hover table-responsive">
    <tbody>
        @foreach (ZoneDTO zone in Model.Zones)
        {
        <div class="card">
            <div class="card-body">
                    <p><a asp-controller="Zone" asp-action="Details" asp-route-id="@zone.Id">Meer details van @zone.Name</a></p>
            </div>
        </div>
        }
    </tbody>
</table>
